*{
    background-color: gray;
}
body{
    display: flexbox;
}

header {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    border: solid rgb(17, 188, 235) 6px;
    padding: 9px;
    
}

h1{
    background-color: rgb(17, 188, 235);
    display: inline;
    color: whitesmoke;
    font-size: 36px;
    margin-left: 15px;
    border-radius: 12px;
}

#top{
    font-size: 24px;
    display: flex;

    
}

#top ul{
   display: flex;
   list-style: none;
}

#top ul .nav{
    margin-left: 20px;
}

#header{
    display: inline;
    
}

.header{
    display: inline;
}
#cells{
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h2{
    border-right: solid rgb(17, 188, 235);
    font-size: 28px;
    min-width: 145px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.main-content{
    margin-left: 25px;
    /* font-family: sans-serif;??? */
}
div {
    display: inline-flex;
}

p{
   display: inline;
   border: solid green;

   
}

#highlighted{
    border: solid rgb(17, 188, 235);
    height: 350px;
    width: 650px;
}

.grid{
    border: solid rgb(17, 188, 235);
    height: 150px;
    width: 300px;
}

#cells{
    display: inline;
    margin-left: 25px;
    }

footer{
    display: flex;
    width: 100%;
}

#bottom-nav{
    font-size: 25px;
    margin-left: 29%;
}

.contact{
    list-style: none;
    display: inline;
    margin-left: 15px;
   

}
