*{
    background-color: gray;
    border-radius: 10px;
}

body{
    display: flexbox;
}

header {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    border: solid skyblue 6px;
    padding: 9px;
    
}

h1{
    background-color:rgb(17, 188, 235) ;
    display: inline;
    color: whitesmoke;
    font-size: 36px;
    margin-left: 10px;
}

#top{
    font-size: 28px;
    display: contents;
}

#top ul{
   display: flex;
   list-style: none;
    background-color: rgb(17, 188, 235);
}

#top ul .top-nav{
    margin-left: 20px;
    background-color: rgb(17, 188, 235);
}

#top a{
    background-color: rgb(17, 188, 235);
    text-decoration: none;
    color: whitesmoke;
}

#top ul:hover {
    cursor:grab;
}

main{
    display: flex;
    flex-direction: column;
}

aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 18%;
    position: absolute;
}

h2{
    display: flex;
    color: whitesmoke;
    border-right: solid rgb(17, 188, 235);
    border-radius: none;
    width: 85%;
}

#about-me{
    line-height: 225px;
}

#side-work{
  line-height: 600px;
}

.one{
    display: flex;
    align-items: center;
}

.intro{
    display: inline-flex;
    flex-direction: column;
    margin-left: 50px;
}


h3{
    text-align: center;
    
}

.bio{
    text-align: start;
    text-indent: 20px;
    width: 68%;
    display: inline-flex;
}

/* #cells{
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h2{
    border-right: solid rgb(17, 188, 235);
    font-size: 28px;
    min-width: 145px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.main-content{
    margin-left: 25px;
    /* font-family: sans-serif;??? */
}
/* div {
    display: inline-flex;
}


#highlighted{
    border: solid rgb(17, 188, 235);
    height: 350px;
    width: 650px;
}

.grid{
    border: solid rgb(17, 188, 235);
    height: 150px;
    width: 300px;
}

#cells{
    display: inline;
    margin-left: 25px;
    }

.cells h2{
        border-radius: 8px; transition: all 0.5s ease-in-out}
    
.cells:hover{ 
        box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
    }
    
.cells{
        background-image: linear-gradient( 
        rgba(232, 102, 236, 0.3) 0%, 
        rgba (232, 102, 236, 0.6) 100% ); 
    }

footer{
    display: flex;
    width: 100%;
}

#bottom-nav{
    font-size: 25px;
    margin-left: 29%;
}

.contact{
    list-style: none;
    display: inline;
    margin-left: 15px;
}